{% load klass %}
{% if request.user.is_authenticated %}
<form method="post" class="analysis_form feature-card feature-card--grey">
  {% for field in analysis_form.visible_fields  %}
  <div class="form_field">
    {% if field|klass == "ChoiceField" %}
    <h3>{{ field.label }}</h3>
    <p class="help-text">{{ field.help_text }}</p>
    <div class="option-group">
      {% for radio in field %}
        <input {% if radio.choice_value == field.value %}checked=checked{% endif %} id="{{ radio.id_for_label }}" name="{{ field.name }}" type="radio" value="{{ radio.choice_value }}">
        <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
      {% endfor %}
    </div>
    {% else %}
    {{ field }}
    {% endif %}


  </div>
  {% endfor %}
  {% for hidden in analysis_form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <div class="form-buttons">
    <button class="button" type="submit">Save</button>
    <button class="button" type="submit" name="save_and_next">Save &amp; Next</button>
    {% if request.user.is_staff %}
      <a class='button' href='/admin/leaflets/leaflet/{{ object.id }}/'>Edit
      leaflet</a>
    {% endif %}
  </div>

</form>
{% endif %}
