{% load klass %}
{% if request.user.is_authenticated %}
<form method="post" class="analysis_form">
  {% for field in analysis_form.visible_fields  %}
  <div class="form_field">
    {% if field|klass == "ChoiceField" %}
    <h4>{{ field.label }}</h4>
    <p class="help_text">{{ field.help_text }}</p>
    <div class="select_widget">
      {% for radio in field %}
        <div class="select_row">
          <input {% if radio.choice_value == field.value %}checked=checked{% endif %} id="{{ radio.id_for_label }}" name="{{ field.name }}" type="radio" value="{{ radio.choice_value }}">
          <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
        </div>
      {% endfor %}
    </div>
    {% else %}
    {{ field }}
    {% endif %}


  </div>
  {% endfor %}
  {% for hidden in analysis_form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <button type="submit">Save</button>
  <button type="submit" name="save_and_next">Save &amp; Next</button>
</form>
{% endif %}