{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
        <meta name="keywords" lang="en" content="election leaflets" />
        <meta name="description" lang="en" content="Real-time election leaflet monitoring" />

        <title>{% block title %}Real-time #ElectionLeaflet monitoring{% endblock %}  | ElectionLeaflets.org</title>
        <link rel="stylesheet" media="all" type="text/css" href="{% static "stylesheets/foundation.css" %}" />
        <link rel="stylesheet" media="all" type="text/css" href="{% static "stylesheets/main.min.css" %}" />
        <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
        {% block og_tags %}{% endblock og_tags %}
        {% block extra_head %}{% endblock %}
    </head>

    <body {% block body_class %}{% endblock %}>

      <header>
        <nav  class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="/">ElectionLeaflets.org</a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon">
              <a href="#"><span>Menu</span></a>
            </li>
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li>
                <ul>
                  <li>
                      <a href="{% url "upload_leaflet" %}">
                        <i class="fa fa-camera"></i>
                        Add a leaflet
                      </a>
                  </li>
                  <li>
                      <a href="{% url "leaflets" %}">
                        <i class="fa fa-line-chart"></i>
                        Latest
                      </a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li>
                      <a>{{ request.user }} Logged in</a>
                  </li>
                  <li>
                      <a href="{% url "account_logout" %}">Sign out</a>
                  </li>
                  {% else %}
                  <li><a href="{% url "account_login" %}">Sign in</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </section>
        </nav>
      </header>

      <main>
          {% block content %}
          {% endblock %}
      </main>

        {% include "footer.html" %}

        {# // <script type="text/javascript"> #}
        {# //     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); #}
        {# //     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); #}
        {# //     </script> #}
        {# //     <script type="text/javascript"> #}
        {# //     try { #}
        {# //     var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS_KEY }}"); #}
        {# //     pageTracker._trackPageview(); #}
        {# //     } catch(err) {} #}
        {# // </script> #}

        <script src="{% static "javascript/jquery.js" %}"></script>
        <script src="{% static "javascript/modernizr.js" %}"></script>
        <script src="{% static "javascript/foundation.js" %}"></script>
        <script> $(document).foundation(); </script> <!--this is bad, but doesnt work when added to app.js-->
        <script src="{% static "javascript/electionleaflets.main.min.js" %}"></script>

        {% block extra_scripts %}{% endblock %}

        {% if request.user.is_staff %}
          <script src="{% static "javascript/admin.js" %}"></script>
        {% endif %}
        {% if GOOGLE_ANALYTICS_ENABLED %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60344624-1', 'auto');
          ga('send', 'pageview');

        </script>
        {% endif %}
    </body>
</html>
