<nav>
    <ul>
      <li>
          <a href="{% url "home" %}">Home</a>
      </li>
      <li>
          <a href="{% url "upload_leaflet" %}">Add a leaflet</a>
      </li>
      <li>
          <a href="{% url "leaflets" %}">Latest</a>
      </li>
      
      {% if request.user.is_authenticated %}
      <li>
          <a>{{ request.user }} Logged in</a>
      </li>
      <li>
          <a href="{% url "account_logout" %}">Log out</a>
      </li>
      {% else %}
      <li><a href="{% url "account_login" %}">Log in</a></li>
      {% endif %}
    </ul>
</nav>
