{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="columns large-8">
      <h1>Analysis team</h1>
      <p>
        The ElectionLeaflets.org analysis team will be categorising and annotating
        election leaflets as they come in.
      </p>
      <p>
        This section is not ready yet, but when it is you will be able to sign in and join the team.
      </p>
      <p>
        If you would like to join the analysis team email <a href="mailto:leaflets@unlockdemocracy.org.uk">leaflets@unlockdemocracy.org.uk</a>
      </p>
      <!-- <p>
        <a href="#" class="button expand disabled">Sign in</a>
        <a href="#" class="button expand disabled">Create an account</a>
      </p> -->
    </div>
  </div>
{% endblock %}