sudo: false
language: python
env: RUNNER=travis
python:
  - "2.7"
install: pip install -r requirements/dev.txt --download-cache $HOME/.pip-cache
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -U postgres -d travis_ci_test -c "create extension postgis"
script:
  - coverage run --source=electionleaflets manage.py test
  - coverage run -a --source=electionleaflets manage.py harvest
after_success:
  - coveralls
notifications:
  slack: democracyclub:xPS8z1f2rT5iv25aeXtF6Ikl
cache:
  directories:
    - /home/travis/virtualenv
    - $HOME/.pip-cache/
addons:
  postgresql: "9.3"