[pipenv]
allow_prereleases = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-sam-cli = "==1.40.1"

[packages]
boto3 = "*"
aws-wsgi = {ref = "a5b800373c326e75f705d400c48f7df301409724", git = "https://github.com/DemocracyClub/awsgi.git"}
contextlib2 = "==0.5.5"
configparser = "==3.5.0"
cssselect = "==0.9.1"
django-braces = "==1.14.0"
django-extensions = "==3.1.5"
django-localflavor = "==1.1"
django-markdown-deux = "==1.0.5"
django-storages = "==1.7"
django-uk-political-parties = {git = "https://github.com/DemocracyClub/django-uk-political-parties.git"}
djangorestframework = ">=3.9.1"
durationpy = "==0.4"
enum34 = "==1.1.6"
fixtures = "==3.0.0"
flake8 = "==3.8.3"
funcsigs = "==1.0.2"
futures = "==3.1.1"
dj-pagination = "==2.4.0"
linecache2 = "==1.0.0"
lxml = "==4.8.0"
markdown2 = "==2.4.0"
mccabe = "==0.6.1"
mock = "==2.0.0"
oauthlib = "==2.0.2"
pbr = "==3.0.0"
piexif = "==1.0.12"
placebo = "==0.8.1"
pyparsing = "==2.2.0"
python-dateutil = "==2.6.0"
python-memcached = "==1.57"
python-mimeparse = "==0.1.4"
python-openid = "==2.2.5"
python-slugify = "==1.2.4"
python-subunit = "==1.0.0"
requests-oauthlib = "==0.8.0"
sentry-sdk = "*"
six = "==1.15.0"
sorl-thumbnail = "==12.4a1"
sure = "==1.2.9"
testtools = "==2.3.0"
tqdm = "==4.11.2"
traceback2 = "==1.4.0"
unittest2 = "==1.1.0"
wsgi-request-logger = "==0.4.6"
Django = "==2.2.27"
Pillow = "==9.3.0"
python-Levenshtein = "==0.12.0"
PyYAML = ">=4.2b1"
Unidecode = "==0.4.20"
aloe-django = "==0.2.0"
factory-boy = "*"
responses = "*"
django-ses = "==2.6.0"
future = "==0.16.0"
django-pipeline = "==1.6.14"
docutils = "==0.14"
django-static-jquery = "==2.1.4"
setuptools = "==62.1.0"
faker = "*"
werkzeug = "==2.0.3"
black = "==19.10b0"
django-s3file = "==5.4.0"
psycopg2-binary = "*"
dc_design_system = {git = "https://github.com/DemocracyClub/design-system.git", ref = "0.1.2"}
whitenoise = "*"
urllib3 = "*"
libsass = "*"
django-formtools = "==2.2"
django-debug-toolbar = "*"
django-filter = "*"
click = "==8.0.4"
flask = "==2.0.2"

[scripts]
collectstatic = "python manage.py collectstatic -c --noinput"
createcachetable = "python manage.py createcachetable"
pytest = "pytest"
coveralls = "coveralls"
migratedb = "python manage.py migrate --noinput"
thumbs_sam_build = "bash -c 'cd thumbs && sam build'"
