[pipenv]
allow_prereleases = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
aws-wsgi = { git = "https://github.com/DemocracyClub/awsgi.git"}
django-braces = "==1.14.0"
django-extensions = "==3.1.5"
django-localflavor = "==1.1"
django-markdown-deux = "==1.0.5"
django-storages = "==1.7"
djangorestframework = ">=3.9.1"
dj-pagination = "==2.4.0"
lxml = "==4.8.0"
markdown2 = "==2.4.0"
oauthlib = "==2.0.2"
pyparsing = "==2.2.0"
python-dateutil = "==2.6.0"
python-memcached = "==1.57"
python-mimeparse = "==0.1.4"
python-openid = "==2.2.5"
python-slugify = "==1.2.4"
python-subunit = "==1.0.0"
requests-oauthlib = "==0.8.0"
sentry-sdk = "*"
sorl-thumbnail = "==12.4a1"
unittest2 = "==1.1.0"
wsgi-request-logger = "==0.4.6"
Django = "==2.2.27"
Pillow = "==9.0.1"
python-Levenshtein = "==0.25.1"
PyYAML = ">=4.2b1"
factory-boy = "*"
responses = "*"
django-ses = "==2.6.0"
django-pipeline = "==1.6.14"
faker = "*"
django-s3file = "==5.4.0"
psycopg2-binary = "*"
dc_design_system = {git = "https://github.com/DemocracyClub/design-system.git" }
whitenoise = "*"
urllib3 = "<2.0.0"
libsass = "*"
django-formtools = "==2.2"
django-debug-toolbar = "*"
django-filter = "*"

[scripts]
collectstatic = "python manage.py collectstatic -c --noinput"
createcachetable = "python manage.py createcachetable"
pytest = "pytest"
coveralls = "coveralls"
migratedb = "python manage.py migrate --noinput"
thumbs_sam_build = "bash -c 'cd thumbs && sam build'"
ruff-check = "ruff  ."
ruff-format = "ruff  format ."


[dev-packages]
ruff = "*"
