[pipenv]
allow_prereleases = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
aws-wsgi = {ref = "a5b800373c326e75f705d400c48f7df301409724", git = "https://github.com/DemocracyClub/awsgi.git"}
contextlib2 = "==0.5.5"
configparser = "==3.5.0"
cssselect = "==0.9.1"
django-braces = "*"
django-extensions = "==3.1.5"
django-localflavor = "*"
django-storages = "1.13.2"
django-uk-political-parties = {ref = "master", git = "https://github.com/DemocracyClub/django-uk-political-parties.git"}
djangorestframework = ">=3.9.1"
durationpy = "==0.4"
enum34 = "==1.1.6"
fixtures = "==3.0.0"
flake8 = "==3.8.3"
funcsigs = "==1.0.2"
futures = "==3.1.1"
dj-pagination = "==2.4.0"
linecache2 = "==1.0.0"
lxml = "*"
mccabe = "==0.6.1"
mock = "==2.0.0"
oauthlib = "==2.0.2"
pbr = "==3.0.0"
piexif = "==1.0.12"
placebo = "==0.8.1"
pyparsing = "==2.2.0"
python-dateutil = "==2.9.0"
python-memcached = "*"
python-mimeparse = "==0.1.4"
python-openid = "==2.2.5"
python-slugify = "==1.2.4"
python-subunit = "*"
requests-oauthlib = "==0.8.0"
sentry-sdk = "*"
six = "*"
sorl-thumbnail = "*"
sure = "*"
testtools = "==2.3.0"
tqdm = "==4.11.2"
traceback2 = "==1.4.0"
unittest2 = "==1.1.0"
wsgi-request-logger = "==0.4.6"
Django = "==4.2.15"
Pillow = "==10.4.0"
python-Levenshtein = "*"
PyYAML = ">=4.2b1"
Unidecode = "==0.4.20"
aloe-django = "==0.2.0"
factory-boy = "*"
responses = "*"
django-ses = "*"
django-pipeline = "*"
docutils = "==0.14"
django-static-jquery = "==2.1.4"
setuptools = "*"
faker = "*"
werkzeug = "*"
black = "==19.10b0"
django-s3file = "*"
psycopg2-binary = "*"
dc_design_system = {version = "0.5.0", git = "https://github.com/DemocracyClub/design-system.git" }
whitenoise = "*"
urllib3 = "*"
libsass = "*"
django-formtools = "==2.2"
django-debug-toolbar = "*"
django-filter = "*"
click = "*"
flask = "==2.3.2"
certifi = "*"
Markdown = "*"
dc-django-utils = {file = "https://github.com/DemocracyClub/dc_django_utils/archive/refs/tags/7.0.1.tar.gz"}
playwright = "==1.48.0"
pytest-django = "*"
pytest = "*"
pytest-playwright = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"

[scripts]
collectstatic = "python manage.py collectstatic -c --noinput"
createcachetable = "python manage.py createcachetable"
coveralls = "coveralls"
migratedb = "python manage.py migrate --noinput"
makemigrations = "python manage.py makemigrations"
thumbs_sam_build = "bash -c 'cd thumbs && sam build'"
test = "bash -c 'DJANGO_SETTINGS_MODULE=electionleaflets.settings.testing python manage.py test'"

[dev-packages]
