{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
  <div class="row">
    <div class="columns large-12">
      <h1>Election leaflets delivered in {{ object.name }}</h1>
      {% if last_leaflet_days >= 45 %}
        <div class="panel">
          <p>
          We haven't seen any leaflets in {{object.name}} for {{last_leaflet_days}} days!
          Please help by tracking some down and photographing them.</p>
        </div>
      {% endif %}

      {% if constituency_leaflets %}
        {% with constituency_leaflets as leaflet_list %}
          {% include "leaflets/includes/leaflet_list.html" %}
        {% endwith %}

        <span class="page-current">
            Page {{ constituency_leaflets.number }} of {{ constituency_leaflets.paginator.num_pages }}.
        </span>
        <nav role="menu" aria-label="Pagination">
           <ul class="pagination">
            {% if constituency_leaflets.has_previous %}
                <li><a href="?page={{ constituency_leaflets.previous_page_number }}">previous</a></li>
            {% endif %}
            {% if constituency_leaflets.has_next %}
                <li><a href="?page={{ constituency_leaflets.next_page_number }}">next</a></li>
            {% endif %}
           </ul>
        </nav>
      {% else %}
        <p>
          We don't have <em>a single</em> leaflet for {{ object.name }}. Can you
          believe it?
        </p>
        <p>
          Unless the candidates are totally ignoring {{ object.name }} (which does happen, Possible, some constituencies are seen as a forgone conclusions) it is probably because no one has uploaded one yet.
        </p>
        <p>
          Your mission, if you choose to accept it, is to find us one from each of the main parties and photograph them for posterity.
        </p>
        <ol>
          <li>
            <a href="https://twitter.com/intent/tweet?url={{ request.get_host }}/{% url "constituency-view"  object.pk object.slug %}&text=Has anyone in {{object.name}} got an election leaflet through the door?&hashtags=electionleaflet&via=electionspotter">
              Put a call out on Twitter or tweet the parties directly
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/{% url "constituency-view"  object.pk object.slug %}&ref=responsive">
              Ask friends on Facebook
            </a>
          </li>
          <li>
            Go rummaging through the bins
          </li>
        </ol>
      {% endif %}
    </div>
  </div>

{% endblock %}

