{% extends "base.html" %}
{% load static %}

{% block body_class %}class="cropper"{% endblock %}
{% block extra_scripts %}
<link rel="stylesheet" media="all" type="text/css" href="{% static "stylesheets/jquery.Jcrop.min.css" %}" />
<script src="{% static "javascript/jquery.Jcrop.min.js" %}"></script>
{% endblock %}

{% block content %}
    <a href="{% url "leaflet" object.leaflet.pk %}">&larr; back to {{ object.leaflet.get_title|default_if_none:"leaflet" }} details</a>
    <figure>
        <img src="{{ object.raw_image.url }}" />
    </figure>


<form method=post>
    <input type="hidden" name="x" value="">
    <input type="hidden" name="y" value="">
    <input type="hidden" name="x2" value="">
    <input type="hidden" name="y2" value="">
    <button type=submit>Crop</button>
</form>
{% endblock %}

