{% extends "base.html" %}
{% load pagination_tags %}
{% load category_tags %}
{% load thumbnail %}

{% block title %}Latest leaflets{% endblock %}

{% block content %}
  <div class="row">
    <div class="columns large-12">
      <h1>Latest leaflets</h1>
      {% if page_obj.number == 1 %}
        <p>
          These are the latest leaflets spotted by our volunteers. You can also view leaflets by <a href="{% url "parties" %}">party</a> or <a href="{% url "constituencies" %}">constituency</a>.
        </p>
      {% endif %}
      {% include "leaflets/includes/leaflet_list.html" %}

    {% if is_paginated %}
      <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      <nav role="menu" aria-label="Pagination">
         <ul>
          {% if page_obj.has_previous %}
              <li><a href="{% url "leaflets" %}?page={{ page_obj.previous_page_number }}">Previous page</a></li>
          {% endif %}
          {% if page_obj.has_next %}
              <li><a href="{% url "leaflets" %}?page={{ page_obj.next_page_number }}">Next page</a></li>
          {% endif %}
         </ul>
      </nav>
    {% endif %}

    <p>
      <a href="{% url "latest_feed"  %}">
        This page is available as an RSS feed.
      </a>
    </p>
  </div>
</div>

{% endblock %}
