{% extends "base.html" %}

{% load static %}
{% load pagination_tags %}
{% load thumbnail %}
{% load humanize %}

{% block title %}Latest leaflets{% endblock %}

{% block content %}
    <h1>
        {% if filter.data %}
            Filtered leaflets
        {% else %}
            All leaflets
        {% endif %}
    </h1>

    {% include "leaflets/includes/leaflet_filter.html" %}

    <p>{{ paginator.count|intcomma }} leaflets</p>
    {% include "leaflets/includes/leaflet_list.html" %}

    {% if is_paginated %}
        <p class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
        <nav class="pagination" role="menu" aria-label="Pagination">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{% url "leaflets" %}?page={{ page_obj.previous_page_number }}">&laquo; Previous
                        page</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="{% url "leaflets" %}?page={{ page_obj.next_page_number }}">Next page &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    {% if not filter.data %}
        <p>
            <a href="{% url "latest_feed" %}">
                This page is available as an RSS feed.
            </a>
        </p>
    {% endif %}

{% endblock %}
