{% extends "base.html" %}
{% load thumbnail %}
{% load markdown %}

{% block og_tags %}
  <meta property="og:site_name" content="ElectionLeaflets.org"/>
  <meta property="og:title" content="{{ object.get_title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ leaflet.get_full_url }}"/>
  <meta name="og:description" content="{% if object.description %}{{ object.description }}{% else %}Leaflet does not have a description{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@electionspotter">
  <meta name="twitter:creator" content="@electionspotter">
  <meta name="twitter:title" content="{{ object.get_title }}">
  <meta name="twitter:description" content="{% if object.description %}{{ object.description|markdown|striptags|truncatechars:"200" }}{% else %}Leaflet does not have a description{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@electionspotter">
  <meta name="twitter:creator" content="@electionspotter">
  <meta name="twitter:title" content="{{ object.get_title }}">
  <meta name="twitter:description" content="{% if object.description %}{{ object.description|markdown|striptags|truncatechars:"200" }}{% else %}Leaflet does not have a description{% endif %}">
  {% if object.location %}
    <meta property="place:location:latitude" content="{{ object.location.1 }}"/>
    <meta property="place:location:longitude" content="{{ object.location.0 }}"/>
    <meta property="og:latitude" content="{{ object.location.1 }}"/>
    <meta property="og:longitude" content="{{ object.location.0 }}"/>
  {% endif %}
  {% for image in object.images.all %}
    {% thumbnail object.images.all.0.image "600" crop="center" as im %}
      {% if forloop.first %}
        <meta property="og:image" content="{{ im.url }}"/>
      {% endif %}
      <meta name="twitter:image{{ forloop.counter0 }}" content="{{ im.url }}">
    {% endthumbnail %}
  {% endfor %}
{% endblock og_tags %}
{% block content %}

  <h1>
    {% if object.get_title %}
      {{ object.get_title }}
    {% else %}
      Leaflet #{{ object.id }}
    {% endif %}
  </h1>

  {% for image in object.images.all %}
    <figure class="ds-card">
      <div class="ds-card-image">
        {% thumbnail image.image "1000" crop="center" as im %}
          <img src="{{ im.url }}" aria-labelledby="page-{{ image.id }}" data-full_image_url="{{ image.image.url }}">
        {% endthumbnail %}
      </div>
      <div class="ds-card-body">
        <a href="{% url "full_image" image.id %}" class="ds-card-link">
          image #{{ image.pk }}
        </a>
      </div>
    </figure>
  {% endfor %}

  {% if object.description %}
    {{ object.description|markdown }}
  {% endif %}


  {% if object.imprint %}
    <h3>Promoter and Publisher details</h3>
    <p>{{ object.imprint }}</p>
  {% endif %}

  {% if object.tags.all %}
    <h3>Tags</h3>
    <ul>
      {% for t in object.tags.all %}
        {% if t.slug %}
          <li><a href="{% url "tag" t.slug %}">{{ t.tag }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}



  <h2>Leaflet details</h2>
  <dl class="ds-descriptions">
    <div>
      <dt>Uploaded</dt>
      <dd>{{ object.date_uploaded|date:"l, d M, Y" }}</dd>
    </div>
    {% if object.nuts1 %}
    <div>
      <dt>Region</dt>
        <dd><a href="{% url 'leaflets' %}?filter_by_region={{ object.nuts1 }}">{{ object.nuts1_name }}</a></dd>
    </div>
    {% endif %}

    {% if object.ynr_party_id %}
    <div>
      <dt>Published by</dt>
      <dd><a href="{% url "party-view" object.ynr_party_id %}">{{ object.ynr_party_name }}</a></dd>
    </div>
    {% endif %}
    {% if object.ballots %}


      <div>
        <dt>Related elections</dt>
        <dd>
          <ul>
            {% for ballot in object.ballots %}
              <li><a href="https://whocanivotefor.co.uk/elections/{{ ballot.ballot_paper_id }}">{{ ballot.ballot_title }}</a></li>
            {% endfor %}
          </ul>
        </dd>
      </div>
    {% endif %}



  {% if object.people %}
      <div>
      <dt>Sent by</dt>
      <dd>
          <ul style="list-style-type: none; padding-left:0 ">
              {% for id, person in object.people.items %}
              <li><a href="{% url "person" person.person.id %}">{{ person.person.name }}</a></li>
              {% endfor %}
          </ul>
        </dd>
      </div>

  {% endif %}
  </dl>

  <p>
    The data on this page is available in <a href="{% url "api:leaflet-detail" object.pk %}?format=json">JSON format</a>.
    The images of this leaflet
    should be considered to be in the public domain, in accordance with
    the <a
  href="https://creativecommons.org/publicdomain/zero/1.0/">Public
    Domain Dedication</a>.
  </p>

  {% if request.user.is_authenticated %}
    <a href="{% url "leaflet_update_publisher_details" pk=object.pk %}" class="ds-cta">
      Update publisher details</a>

  {% endif %}
{#  {% include "analysis/includes/analysis_form.html" %}#}

  <h3>Something wrong with this page?</h3>
  <p><a href="https://democracyclub.org.uk/contact/">Get in touch</a>
    If there is something wrong with this leaflet please let us know.</p>



{% endblock %}
