{% extends "base.html" %}

{% block content %}
    <h1>About</h1>

    <p>ElectionLeaflets.org is an open archive of the literature published by political parties and candidates during UK
        election campaigns.</p>

    <p>One-third of all spending during UK elections goes towards printing election leaflets. Leaflets are the most
        common way voters learn about their candidates. </p>
    <p>This website ensures that this otherwise ephemeral literature is captured for journalists, analysts, and
        historians to use now and in the future.</p>
    <p>If you have recently received any election leaflets through your door you
        can help by photographing or scanning them and uploading the images.</p>
    <h2>Referencing the site</h2>
    <p>If you are using this site in your publications, please ensure you provide a link back to the original image.
        Credit Democracy Club,
        <em>ElectionLeaflets.org</em>.</p>
    <h2>What is an election leaflet?</h2>
    <p>
    An election leaflet is a printed document sent to voters in an election. It can be sent by a candidate, political party, or other campaigning organisation.
    All election leaflets must include an imprint, <a href="https://www.electoralcommission.org.uk/political-registration-and-regulation/imprints">as required by electoral law</a>.
    </p>
    <p><em>Anything uploaded to the site which does not meet the above criteria will be removed. </em></p>
    <h2>Moderation and Complaints</h2>
    <p>
        <em>Democracy Club reserves the right to remove any images uploaded to the site at any time.</em>
    </p>
    <p>
    We will respond to any and all complaints made about the service, unless obviously malicious. This includes complaint subjects as referred to by the 
    <a href="https://www.legislation.gov.uk/ukpga/2023/50/section/72/enacted#section-72-8">Online Safety Act 2023</a></p>
    </p>
    <ul>
        <li>Complaints about the content of the website.</li>
        <li>Complaints about our management of the site.</li>
        <li>Complaints about our moderation decisions, including where we have suspended a user.</li>
    </ul>
    <p>
        Anyone can submit a complaint by emailing <a href="mailto:hello@democracyclub.org.uk">hello@democracyclub.org.uk</a>.
    </p>
    <p>
    Any images which we judge to be malicious or illegal in the UK will be removed as soon as it is brought to our attention. 
    In particular, we would draw your attention to the list of offences provided in Schedules <a href="https://www.legislation.gov.uk/ukpga/2023/50/schedule/5">5</a>,
    <a href="https://www.legislation.gov.uk/ukpga/2023/50/schedule/6">6</a>
    and <a href="https://www.legislation.gov.uk/ukpga/2023/50/schedule/7">7</a>
    of the Online Safety Act 2023.
    </p>
    <h2 id="contact">About Democracy Club</h2>

    <p>ElectionLeaflets.org is part of <a href="https://democracyclub.org.uk">Democracy Club</a>. ElectionLeaflets.org
        and Democracy Club are independent, non-profit, and non-partisan.</p>
    <p>If you've found this website useful, please consider contributing to our hosting costs via a <a
            href="https://democracyclub.org.uk/donate/">regular or one-off donation</a>.</p>

    <p>You can contact Democracy Club at <a
        href="mailto:hello@democracyclub.org.uk">hello@democracyclub.org.uk</a>
{% endblock %}
