{% extends "base.html" %}

{% block content %}
<h1>About ElectionLeaflets.org</h1>

<p>Electioneering is a high-stakes game. We, at ElectionLeaflets.org, believe
that it’s time for that game to become a spectator sport.</p>

<p>ElectionLeaflets.org is a real-time election leaflet project. Our ambition
is to create a live visualization of the flood of party political leaflets as
they are delivered across the country during an election campaign.</p>

<p>If you have recently received any election leaflets through your door you
can help by photographing or scanning them and uploading the images.</p>

<h2 id="contact">About Democracy Club</h2>

  <p>ElectionLeaflets.org is part of <a href="https://democracyclub.org.uk">Democracy Club</a>. ElectionLeaflets.org and Democracy Club are
    independent, non-profit, and non-partisan.</p>
<p>If you've found this website useful, please consider contributing to our hosting costs via a <a href="https://democracyclub.org.uk/donate/">regular or one-off donation.</p>

<p>You can contact Democracy Club at <a
href="mailto:hello@democracyclub.org.uk">hello@democracyclub.org.uk</a>  
{% endblock %}
