{% extends "base.html" %}
{% load leaflet_tags %}
{% load party_tags %}
{% load constituency_tags %}
{% load content_tags %}

{% block content %}
  <div class="row">
    <div class="large-8 columns">
      <h1>People powered election monitoring</h1>
      <p>
        Even in the internet age, leaflets are a time honoured way for political parties to get their message across. We want to keep track of how politicians are trying to get your vote, and where they are campaigning.
      </p>
      <p>
        <strong>The target is 10,000 leaflets by the May 7th!</strong>
      </p>
    </div>
    <div class="large-4 columns header-fix">
      <p>
        <a href="{% url "upload_leaflet" %}" class="button">
          <i class="fa fa-camera"></i>
          Add a leaflet
        </a>
      </p>      
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <h2>Latest leaflets from the campaign</h2>
      <ul class="side-nav">
        <li>
          <a href="{% url "leaflets" %}">All</a>
        </li>
        <li>
          <a href="{% url "parties" %}">Parties</a>
        </li>
        <li>
          <a href="{% url "constituencies" %}">Constituencies</a>
        </li>
      </ul>
    </div>
    <div class="large-4 columns header-fix">
      <div class="big-number">
        <span>1,005</span>
        <small>leaflets since 1st January</small>
      </div>
    </div>
  </div>
{% endblock %}