{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load thumbnail %}
{% load party_tags %}
{% load constituency_tags %}
{% load content_tags %}

{% block content %}
  <div class="row intro">
    <div class="medium-8 columns">
      <p>
        This is people powered election monitoring! Get out your phone and photograph any political leaflets that come through your door.
        <strong>The target is 10,000 leaflets by the May 7th!</strong>
      </p>
    </div>
    <div class="medium-4 columns">
      <p>
        <a href="{% url "upload_leaflet" %}" class="button">
          <span class="mobile-copy">
            <i class="fa fa-camera"></i>
            Photograph a leaflet
          </span>
          <span class="desktop-copy">
            <i class="fa fa-upload"></i>
            Upload a leaflet
          </span>
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <div class="big-number">
        <a href="{% url "leaflets" %}">
          <span>{{leaflet_count}}</span>
          <small>leaflets since {{start_date}}</small>
        </a>
      </div>
    </div>
    <div class="medium-8 columns">
      <ul class="side-nav">
        <li>
          <a href="{% url "leaflets" %}">Latest leaflets</a>
        </li>
        <li>
          <a href="{% url "parties" %}">Parties</a>
        </li>
        <li>
          <a href="{% url "constituencies" %}">Constituencies</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <ul id="home_thumbnails" class="large-block-grid-9 medium-block-grid-3 small-block-grid-3">
        {% for leaflet in latest_leaflets %}
            <li>
              <a href="{% url "leaflet"  leaflet.id %}">
                {% thumbnail leaflet.get_first_image.image "350x350" crop="top" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Thumbnail of leaflet - {{leaflet.get_title}}">
                {% endthumbnail %}
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-6">
      <h3>As featured by</h3>
      <ul class="featured-logos small-block-grid-3">
        <li>
          <img alt="Chanel 4 Dispatches logo" src="{% static "images/featured_dispatches.png" %}" />
        </li>
        <li>
          <img alt="BBC News logo" src="{% static "images/featured_bbc.png" %}" />
        </li>
        <li>
          <img alt="Guardian logo" src="{% static "images/featured_guardian.png" %}" />
        </li>
        <li>
          <img alt="38 degrees logo" src="{% static "images/featured_38degrees.png" %}" />
        </li>
        <li>
          <img alt="Newsnight logo" src="{% static "images/featured_newsnight.png" %}" />
        </li>
        <li>
          <img alt="The Times logo" src="{% static "images/featured_times.png" %}" />
        </li>
      </ul>
    </div>
    <div class="columns medium-6">
      <h3>About</h3>
      <p>
        ElectionLeaflets.org is an online archive of political leaflets.
        It is created  by members of the public photographing and classifying what comes through their doors at election time.
      </p>
      <p>
        During the 2010 election there were over 6,000 leaflets added to the archive providing
        a valuable resource for journalists, campaigners and investigations.
      </p>
    </div>
  </div>

{% endblock %}