{% extends "base.html" %}
{% load leaflet_tags %}
{% load party_tags %}
{% load constituency_tags %}
{% load content_tags %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1>People powered election monitoring</h1>

      <p><a href="{% url "upload_leaflet" %}" class="upload">Add a leaflet</a></p>

      <p>Even in the internet age, leaflets are a time honoured way for political parties to get their message across. We want to keep track of how politicians are trying to get your vote, and where they are campaigning.</p>

      <p>Sending us your leaflets is incredibly simple: take a high resolution colour photograph (or better yet, use a scanner if you have one) and submit it to us by clicking on the button below.</p>

      <h2>Browse the latest leaflets from the campaign</h2>
      <ul class="side-nav">
        <li>
          <a href="{% url "leaflets" %}">All</a>
        </li>
        <li>
          <a href="{% url "parties" %}">Parties</a>
        </li>
        <li>
          <a href="{% url "constituencies" %}">Constituencies</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}