{% if page_obj.paginator.num_pages > 1 %}
    <nav class="ds-pagination">

        <a rel="prev" {% if page_obj.has_previous %}
           href="{% querystring page=page_obj.previous_page_number %}"
        {% else %}
           disabled=disabled
        {% endif %}
        >
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
                 viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous<span class="ds-visually-hidden"> page</span>
        </a>
        <ul>
            {% if page_obj.has_previous %}
            <li><a href="{% querystring page=1 %}">1</a></li>
            {% else %}
            <li aria-current="true">1</li>
            {% endif %}

            {% if page_obj.number > 3 %}
            <li class="disabled">...</li>
            {% endif %}
            {% for num in page_obj.paginator.page_range|slice:"1:-1" %}
            {% if num == page_obj.number %}
            <li aria-current="true">{{ num }}</li>
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <li><a href="{% querystring page=num %}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.number|add:"3" < page_obj.paginator.num_pages %}
            <li class="disabled">...</li>
            {% endif %}
            {% if page_obj.number != page_obj.paginator.num_pages|add:"1" %}
            <li><a href="{% querystring page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            </li>
            {% endif %}
        </ul>
    <a rel="next" {% if page_obj.has_next %}
           href="{% querystring page=page_obj.next_page_number %}"
        {% else %}
           disabled=disabled
        {% endif %}
        >

            Next<span class="ds-visually-hidden"> page</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
                 viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
        </a>
    </nav>
{% endif %}
