{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="columns large-8">
    <h1>
      {% if leaflet.get_title %}
        Report abuse: <em>{{ leaflet.get_title }}</em>
      {% else %}
        Report abuse
      {% endif %}
    </h1>
    <p>
      This form is for reporting abuse of this website e.g. people uploading
      images that are not of election leaflets, maliciously altering the text
      of a leaflet when transcribing it or generally being an idiot.
      <strong>It's is not for reporting the content of election leaflets</strong>.
      If you believe that claims made in an election leaflet are in anyway
      <a href="https://en.wikipedia.org/wiki/Representation_of_the_People_Act_1983">
        illegal</a>, abusive, racist, homophobic or sexist please report them
        directly to the <a href="http://www.electoralcommission.org.uk/contact-us">
          Electoral Commission</a>.
    </p>
    <form method="post" action="{% url "report_abuse" leaflet.id %}">
      {{ form.as_p }}

      <button type="submit" class="button ">Send report</button>

    </form>
  </div>
</div>
{% endblock %}


