{% extends "base.html" %}
{% block title %}{{ object.name }}{% endblock title %}
{% block content %}
  <div class="row">
    <div class="columns large-8">
      <h1>{{ object.name }}</h1>
      <a href="https://candidates.democracyclub.org.uk/person/{{object.remote_id}}">
        Find out more about {{ object.name }} on our Candidates database.
      </a>
      <h2>Leaflets sent by {{ object.name }}</h2>
      {% with person_leaflets as leaflet_list %}
      {% include "leaflets/includes/leaflet_list.html" %}
      {% endwith %}
    </div>
  </div>

{% endblock content %}
