{% load thumbnail %}
{% load humanize %}
<div >
  <ul class="ds-grid" style="--gridCellMin: 15ch;">
    {% for leaflet in leaflet_list %}
      <li class="ds-card">
        <div class="ds-card-image">
          {% thumbnail leaflet.get_first_image.image "350x350" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}
        </div>
        <div class="ds-card-body">
          <p class="upload_date">
            <a href="{% url "leaflet" leaflet.id %}" class="ds-card-link">Uploaded {{ leaflet.date_uploaded|naturalday }}</a>
          </p>
            {% if request.user.is_staff %}
            	<a href="{% url "leaflet_update_publisher_details" pk=leaflet.pk %}">Tag</a>
            {% endif %}
          {% if leaflet.publisher_party %}
            <p>{{ leaflet.publisher_party.party_name }}</p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
