{% load thumbnail %}
{% load humanize %}
<div class="leaflet-grid">
{% for leaflet in leaflet_list %}
  <a href="{% url "leaflet" leaflet.id %}">
    <div class="feature-card">
      <figure>
        {% thumbnail leaflet.get_first_image.image "350x350" as im %}
          <img src="{{ im.url }}">
        {% endthumbnail %}
        <figcaption>
            <p class="upload_date">Uploaded {{ leaflet.date_uploaded|naturalday }}</p>
            {% if leaflet.publisher_party %}
              <p>{{ leaflet.publisher_party.party_name }}</p>
            {% endif %}
        </figcaption>
      </figure>
    </div>
  </a>
{% endfor %}
</div>
