from .base import *  # noqa: F401,F403

DEBUG = True
template_DEBUG = DEBUG

THEYWORKFORYOU_API_KEY = 'THEYWORKFORYOU API KEY'

# Override the database name and user if needed
DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'electionleaflets',
        'USER': '',
    }
}

STORAGES = {
    "default": { "BACKEND": "django.core.files.storage.FileSystemStorage"},
    "staticfiles": { "BACKEND": "django.contrib.staticfiles.storage.StaticFilesStorage"},
}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
        'LOCATION': 'el_cache',
    }
}

#THUMBNAIL_DEBUG = True
THUMBNAIL_KVSTORE ='sorl.thumbnail.kvstores.cached_db_kvstore.KVStore'

# Debug Toolbar Setup
if DEBUG:
    INSTALLED_APPS += ("debug_toolbar",)
    MIDDLEWARE = ("debug_toolbar.middleware.DebugToolbarMiddleware",) + MIDDLEWARE  # noqa: F405