{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="columns large-12">
    <h1>Parties</h1>
    <ul class="side-nav">
      {% for party in object_list %}
        <li>
          <a href="{% url "party-view"  party.pk party.slug %}">
            <!-- <img class="party-logo" alt="Party logo for {{party.party_name}}" src="http://openelectoralcommission.org.uk/party_images/{{ party.emblems.all.0.emblem_url }}" width="40px"/> -->
            {{ party.party_name }} ({{ party.leaflet_set.count }} leaflets)
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
<div>
{% endblock %}