{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}


{% block content %}
    <h1>Election leaflets from {{ party_name }}</h1>
    {% if last_leaflet_days >= 45 %}
        <div class="panel">
            <p>
                We haven't seen any leaflets from {{ party_name }} for {{ last_leaflet_days }} days!
                Please help by tracking some down and photographing them.</p>
        </div>
    {% endif %}

    {% include "leaflets/includes/leaflet_filter.html" %}

    {% if page_obj %}
        <p>{{ paginator.count|intcomma }} leaflets</p>

        {% with page_obj as leaflet_list %}
            {% include "leaflets/includes/leaflet_list.html" %}
        {% endwith %}

        {% if is_paginated %}
            {% include "core/pager.html" %}
        {% endif %}
    {% else %}
        <p>No leaflets found</p>
        {% if filter.data %}
            <p><a href="{{ request.path }}" class="ds-cta">Reset filters</a></p>
        {% endif %}
    {% endif %}
{% endblock %}
