{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h1>Parties</h1>
    <div class="ds-table">
        <table>
            <thead>
            <tr>
                <th>Party name</th>
                <th>Leaflets</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url "party-view" object.ynr_party_id object.ynr_party_name|slugify %}">
                            {{ object.ynr_party_name }}
                        </a>
                    </td>
                    <td>
                        {{ object.count|intcomma }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
