{% extends "leaflets/upload_form/leaflet_upload_base.html" %}

{% block form %}

<div class="file_input_button">
    <div class="file_input_preview">
    </div>
    <div class="upload-prompt">
      <span class="mobile-copy">
        <i class="fa fa-camera"></i>
        <br/>
        Photograph the front of the leaflet using your phone
      </span>
      <span class="desktop-copy">
        <i class="fa fa-upload"></i>
        <br/>
        Upload a photograph of the {{ wizard.steps.current }} of the leaflet
      </span>
      <p>
        <small>(Please make sure the leaflet photo is legible and well framed)</small>
      </p>
    </div>
    <div class="replace">Click to replace</div>
{{ form.image }}
</div>
{% endblock form %}
