{% extends "leaflets/upload_form/leaflet_upload_base.html" %}

{% block heading %}
<h1>Upload a single leaflet</h1>
  <p>Please photograph or upload a <em>single leaflet</em>.</p>
<p>Use this form to upload images of all pages of the leaflet. Ensure that the entire leaflet is within the frame of your image, and try to avoid blurring. For best results, consider using a scanner.</p>
<p>The leaflet should include an <a href="https://www.electoralcommission.org.uk/political-registration-and-regulation/imprints">imprint</a> which states who printed and published it, including their name and address. Please ensure that the imprint is in the image you upload. If there is no imprint, then the leaflet in question is not regulated campaign material and will be removed from the site.</p>

{% endblock %}

{% block form %}
  {{ form.image }}
  {{ form.errors }}
  {{ form.non_field_errors }}
{% endblock form %}
