{% extends "base.html" %}

{% block title %}Add a new leaflet{% endblock %}
{# Disabled until ember is active #}
{# {% block body_class %}class="leaflet_app"{% endblock %} #}

{% block content %}
  <div class="upload_form">
    {% block heading %}{% endblock heading %}
    <section>
        <header>
            <form action="" method="post" enctype="multipart/form-data"></form>
        </header>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% block form %}
            {% endblock form %}

            <button type="submit" class="expand" value="Submit">Submit</button>
            <a href="?reset=1" class="link-button expand secondary" style="display:block; text-align:center">Cancel</a>
        </form>
        <p>
          <small>By adding a photograph of a leaflet you are placing that photograph in the <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain (CC0)</a> as part of the ElectionLeaflets.org archive. This means other people can use it for research, journalism or any other purpose without having to ask permission. Thanks!</small>
        </p>
    </section>
  </div>
{% endblock %}
