{% extends "base.html" %}

{% block title %}Add a new leaflet{% endblock %}
{% block page_title %}Add a new leaflet{% endblock %}

{% block content %}
  {% block heading %}{% endblock heading %}
  <form action="" method="post" class="leaflet-upload-form">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% block form %}
    {% endblock form %}
    <div class="cta-row ds-stack-smaller">
    <button type="submit" class="ds-button" value="Submit">Submit</button>
    <div><a href="?reset=1">Cancel</a></div>
    </div>
  </form>
  <p>
    By adding a photograph of a leaflet you are placing that photograph in the <a
    href="https://creativecommons.org/publicdomain/zero/1.0/">public domain (CC0)</a> as part of the
      ElectionLeaflets.org archive. This means other people can use it for research, journalism or any other purpose
      without having to ask permission. Thanks!
  </p>
{% endblock %}
