{% extends "base.html" %}

{% block title %}Add a new leaflet{% endblock %}
{# Disabled until ember is active #}
{# {% block body_class %}class="leaflet_app"{% endblock %} #}

{% block content %}
{% block heading %}{% endblock heading %}
<section class="upload_form">
    <header>
        <form action="" method="post" enctype="multipart/form-data"></form>
    </header>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}

        {% block form %}
        {% endblock form %}

        <input type="submit" value="Submit"/>
        {% if wizard.steps.current != "postcode" and wizard.steps.current != "front" %}
        <input type="submit" name="skip" value="Skip"/>
        {% endif %}
        {% if "inside" in wizard.steps.current %}
        <input type="submit" name="add_extra_inside" value="Add another page"/>
        {% endif %}
        <input type="submit" name="cancel_upload" value="Cancel"/>
    </form>
</section>
{% endblock %}
