{% extends "leaflets/upload_form/leaflet_upload_base.html" %}
{% block heading %}<h1>Postcode</h1>{% endblock heading %}
{% block form %}
  <div class="ds-field">
  <fieldset>
  <legend>Postcode</legend>
    <label for="id_postcode-postcode">
      What postcode was this leaflet delivered to?
    </label>
    {{form.postcode}}
    {% if form.postcode.errors %}
      <div role="alert">
        <div class="ds-error">
          {% for error in form.postcode.errors %}
            <span role="img" aria-label="Error">❌</span> {{ error }}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </fieldset>
  </div>
  <div class="ds-field">
    <fieldset>
      <legend>When did you get this leaflet?</legend>

      <ul class="ds-select-list" id="delivered">
        {% for radio in form.delivered %}
          <li>
            {{ radio.tag }}
            <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
  </div>
{% endblock form %}
