@import "vars";
@import "normalize/index.scss";
@import "typeplate/scss/typeplate";
@import "typeplate/scss/typeplate";
@import "Font-Awesome/scss/font-awesome";
@import "fonts";
@import "leaflet_css";
@import "vars";
@import "Font-Awesome/scss/font-awesome";
@import "fonts";
@import "normalize/index.scss";

header {
    .top-bar {
        background:#e67e22;
        .name a {
            font-weight:500;
        }
    }
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section ul li {
        background-color: #E67E22;
    }
    .top-bar-section li:not(.has-form) a:not(.button)  {
        background-color: #E67E22;
    }
    .top-bar-section li:not(.has-form) a:not(.button):hover  {
        background-color: #E67E22;
    }
} 


main {
    min-height:600px;
}

aside {
    padding-top:2rem;
    section {
        border-top:solid 5px #bdc3c7;
    }
}

.button {
    width:100%;
}

footer {
    margin-top:4rem;
    padding-top:2rem;
    background:#6C7A89;
    color:#fff;
    a, a:hover {
        color:#fff;
        font-weight:bold;
    }
    .supporter {
        display:inline-block;
        padding:0 20px 10px 0;
        img {
            height:50px
        }
    }
    @media only screen and (min-width: 40.063em) {
        .supporter {
            display:inline-block;
            padding:10px 0;
            img {
                height:80px
            }
        }
    }
}

.name h1 {
    padding-left:27px;
    background:url(../images/logo.png) no-repeat left 10px center;
    text-transform:uppercase;
 }

ul.side-nav {
  border: solid 1px #dfdfdf;
  padding:0;
  border-bottom:0;
  margin-bottom:2rem;
}

ul.side-nav li {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom:0;
}

ul.side-nav li a {
  padding: 0.875rem 0.875rem!important;
}

ul.side-nav li > a:after {
  content: "â¯";
  float:right;
}

 .file_input_button {
    margin-bottom:1rem;
    padding:15px;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    text-align:center;
    text-decoration:underline;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .file_input_preview {
        font-size:4rem;
        img {
            width:70%;
        }
    }
}

#leaflet_map {
    width: 100%;
    height: 300px;
}

.leaflet_location_icon {
    background-color:black;
    border-radius: 50%;
    height:2px;
    width:2px;
}

.leaflet_page {
    main {
        &:after {
            content:"";
            display:block;
            clear:both;
        };
        article {
            @media screen and (min-width: $mobile-break) {
                max-width:600px;
                float:left;
              }

            text-align:justify;
            figure {
                img {
                    width:100%;
                }
            }
        }

        aside {
            @media screen and (min-width: $mobile-break+9) {
                float:right;
                width:28%;
              }

            > section {
                background-color:#fdf2d5;
                border-radius:2px;
                padding:1rem;
                margin:1.5rem 0;
                &.party {
                    background-color:#FFF;
                    text-align:center;
                    img {
                        max-width:95%;
                    }
                }
            }

        }
    }
}


.admin_tools {
    display:block;
    padding:1rem;
    margin:0.5rem;
    border:2px solid #999;
    border-radius:2px;
    background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px);
    color:#FFF;
    a {
        color:#FFF;
        font-weight:bold;
    }
}

figure:after {
        content:"";
        display:block;
        clear:both;
    }

.roate_image {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    float:left;
    clear:both;

    &.rotate0 {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    &.rotate90 {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    &.rotate180 {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    &.rotate270 {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    }
}
