@import "vars";
@import "normalize/index.scss";
@import "typeplate/scss/typeplate";
@import "typeplate/scss/typeplate";
@import "Font-Awesome/scss/font-awesome";
@import "fonts";
@import "leaflet_css";
@import "vars";
@import "Font-Awesome/scss/font-awesome";
@import "fonts";
@import "normalize/index.scss";

header {
    .top-bar {
        border-bottom:solid 7px #de6800;
        background:#e67e22;
        .name a {
            font-weight:500;
        }
        .top-bar-section li a{
            font-size:1rem;
            font-weight:500;
            i.fa {
                position:relative;
                top:-1px;
            }
        }
        .toggle-topbar a {
            width:50px;
            background:url(../images/menu.png) no-repeat top 12px right 8px;
        }
    }
    .top-bar.expanded {
        border-bottom-color:#000;
        .toggle-topbar a {
            background:url(../images/menu.png) no-repeat top -38px right 8px;
        }
    }
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section ul li {
        background-color: transparent;
    }
    .top-bar-section li:not(.has-form) a:not(.button)  {
        background-color: transparent;
    }
    .top-bar-section li:not(.has-form) a:not(.button):hover  {
        background-color: transparent;
    }
}


main {
    min-height:600px;
}

aside {
    padding-top:2rem;
    section {
        border-top:solid 5px #bdc3c7;
    }
}

h1 {
    font-size:1.4rem;
    line-height:1.3;
}

h2 {
    font-size:1.3rem;
    line-height:1.3;
}

h3 {
    font-size:1.2rem;
    line-height:1.3;
}

p{
    line-height:1.45;
}

.big-number {
    text-align:center;
    background:#E67E22;
    font-weight:bold;
    color:#fff;
    span {
        font-size:5rem;
    }
    small {
        display:block;
        font-size:0.9rem;
        padding-bottom:0.9rem;
    }
}

button, .button, .button:hover {
    width:100%;
    border-bottom-width:7px;
}

@media only screen and (min-width: 64.063em) {
    .columns.header-fix {
        padding-top:4rem;
    }
}

footer {
    margin-top:4rem;
    padding-top:2rem;
    background:#6C7A89;
    color:#fff;
    a, a:hover {
        color:#fff;
        font-weight:bold;
    }
    .supporter {
        display:inline-block;
        padding:0 20px 10px 0;
        img {
            height:50px
        }
    }
    @media only screen and (min-width: 40.063em) {
        .supporter {
            display:inline-block;
            padding:10px 0;
            img {
                height:80px
            }
        }
    }
}

.top-bar .name p, .top-bar .name {
    word-wrap: normal;
    span {
        font-size:0.9rem;
    }
}

.name h1 {
    font-size:0.9rem;
    padding-left:26px;
    background:url(../images/logo.png) no-repeat left 10px top 13px;
    text-transform:uppercase;
 }

ul.side-nav {
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
  padding:0;
  border-bottom:0;
  margin-bottom:2rem;
}


ul.side-nav li {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom:0;
  clear:both;
  overflow:auto;
  a, a:not(.button) {
      display:block;
      line-height:60px;
      padding:1em 0;

      .party_logo_small_container {
          display: inline-block;
          width:35px;
          height:50px;
          margin:5px 10px 5px 5px;
          float:left;
          overflow:auto;
          position:relative;
      }

      .party-logo {
        display: block;
        max-width:100%;
        max-height:100%;
        width: auto;
        height: auto;
        opacity:0.9;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      &:hover .party-logo {
        opacity:1;
      }
  }
}

ul.side-nav li a {
    padding:0;
    &:not(.button) {
        padding:0;
    }
}

ul.side-nav li > a:after {
  content: "â¯";
  float:right;
}

//forms
.alert-box.alert {
    text-align: center;
    font-weight: bold;
    background:#e74c3c;
    border:none;
}

 .file_input_button {
    margin-bottom:1rem;
    padding:15px;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    text-align:center;
    text-decoration:underline;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .file_input_preview {
        font-size:4rem;
        img {
            width:70%;
        }
    }
}

.leaflet_map {
    margin-top:1rem;
}

#leaflet_map {
    width: 100%;
    height: 300px;
    cursor: default;
}

.leaflet_location_icon {
    background-color:black;
    border-radius: 50%;
    height:2px;
    width:2px;
}

.leaflet_page {
    main {
        &:after {
            content:"";
            display:block;
            clear:both;
        };
        article {
            @media screen and (min-width: $mobile-break) {
                max-width:600px;
                float:left;
              }

            text-align:justify;
            figure {
                img {
                    width:100%;
                }
            }
        }

        aside {
            @media screen and (min-width: $mobile-break+9) {
                float:right;
                width:28%;
              }

            > section {
                background-color:#fdf2d5;
                border-radius:2px;
                padding:1rem;
                margin:1.5rem 0;
                &.party {
                    background-color:#FFF;
                    text-align:center;
                    img {
                        max-width:95%;
                    }
                }
            }

        }
    }
}


.admin_tools {
    display:block;
    padding:1rem;
    margin:0.5rem;
    border:2px solid #999;
    border-radius:2px;
    background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px);
    color:#FFF;
    a {
        color:#FFF;
        font-weight:bold;
    }
}

figure:after {
        content:"";
        display:block;
        clear:both;
    }

.roate_image {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    float:left;
    clear:both;

    &.rotate0 {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    &.rotate90 {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    &.rotate180 {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    &.rotate270 {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    }
}

.upload_form {
    button {
        margin-bottom:1rem;
    }
}

