.upload_form {
    max-width: 400px;
    margin: 0px auto;

    .file_input_button {
        position: relative;
        padding: 10px;
        background-color: $dc-light-grey;

        .upload-prompt {
            border: 2px dashed $heading-text-colour;
            padding: 10px;
            text-align: center;
        }

        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            opacity: 0;
            background: #fff;
        }

        .replace {
            display: none;
            color: $primary-color;
            text-decoration: underline;
            text-align: center;
        }
    }

    button {
        width: 100%;
    }

    input[type=text] {
        width: calc(100% - 12px);
        padding: 4px;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 10px 0;
    }

    .option-group {
        $option-group-gutter: 5px;
        margin: 0 -#{$option-group-gutter} 10px;

        input {
            display: none;
        }

        label {
            display: block;
            width: calc(100% - (2 * $option-group-gutter));
            background-color: #dee0e2;
            margin: $option-group-gutter;
            text-align: center;
            border: 1px solid #dee0e2;
            font-size: 1rem;
            &:hover {
                border-color: #000;
            }
        }

        input:checked+label {
            background-color: $dc-bright-pink;
            color: #fff;
        }
    }
    .people-list label, .party-list label {
        padding: 1em;
    }
}
