[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Pillow = "<=7.0,>=6.0"
boto3 = "*"
sorl-thumbnail = "*"
six = "*"
django = "==2.2.21"

[requires]
python_version = "3.7"
